node_modules/
.env
.env.local
dist/
build/
*.log
.DS_Store
~$spital Management System - Project Report.docx
Hospital Management System - Project Report.docx
synopsis.pdf
Hospital Management System - Project Report v7.docx
Hospital Management System - Project Report v5.docx
Hospital Management System - Project Report v6.docx
